body{
    background-color :#EAF6F6;
}
hr {
    border-style: dotted none none;
    border-width: 6px;
    border-color: darkgrey;
    width: 05%;
}
p{
    text-align: center;
}
h1{
    font-style: italic;
    text-align: center; 
    color: #dbc33c;
}
h3{
    color: #66bfbf;
}
h2{
    color: #66bfbf;
}
h4{
    color: #66bfbf;
}
h5{
    color: #66bfbf;
}
form{
    text-align: center;
}
a{
    text-align: center;
}
li{
    font-weight: bold;
}
